version: '3'

services:

  web:
    build: .
    command:
      - bash -c "uvicorn main:auction_car -host 0.0.0.0 --port 8000"
    volumes:
      - .:/auction_car
    ports:
      - "8000:8000"
    depends_on:
      - db_sql

  db_sql:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data

  nginx:
    build: ./nginx
    ports:
      - "80:80"
    volumes:
      - static_volume:/app/static
      - media_volume:/app/media

volumes:
  postgres_data:
